*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    color: #FFFFFF;
    box-sizing: border-box;
}
body{
    background-color: #191919;
}
a{
    text-decoration: none;
    display: inline-block;

}
li{
    list-style-type: none;
}
h1{
    font-size: 70px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 3.2px;
    margin-bottom: 90px;
}
h4{

    font-weight: 400;
    font-size: 17px;
}
h3{
    font-weight: 400;
    font-size: 64px;

}
.container{
    max-width:1300px;
    margin: auto;

}

/*TODO        header*/

.container a img{
    display: block;
    width: 100%;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 0;
    


}
.d-flex ul{
    display: flex;

}
.d-flex ul li{
    margin-left: 46px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}
.d-flex ul li a{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}
.d-flex ul li a:hover{
    color: #118DA8;
}


/*TODO         Take_your*/

.Take_your{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Take_your div:first-child{
    max-width: 650px;
    width: 100%;
    margin-right: 60px;
    border-radius: 14px;
    overflow: hidden;

}

.Take_your img{
    display: block;
    width: 100%;
}

.inner span{
    font-weight: 700;
    color: #118DA8;
}
.inner_socials{
    width: 245px;
    display: flex;
    gap: 17px;
    margin-left: 22px;

}
.inner h6{
    margin-bottom: 16px;
    margin-left: 22px;
}
.icons{
    width: 32px;
    height: 32px;
    display: inline-block;

}

/*TODO  Latest_episodes          */

.Latest_episodes{
    padding-top: 60px ;
    padding-bottom: 200px;
    
}
.box_Latest_episodes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}


.Latest_episodes h3{
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 2.88px;
    
}
.button{
    background-color: #118DA8;
    padding: 15px 20px;
    border-radius: 4px;
    align-self: center;
    display: inline-block;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    border: 1px solid #090a0a;
}
.button:hover{
    background-color: #191919;
    border: 1px solid #118DA8;
}
.episode{
    background-color: #000;
    margin-bottom: 60px;
    padding: 40px;
    border-radius: 8px;
    display: flex;
}

.episode_img{
    max-width: 389px;
    width: 100%;
    margin-right: 53px;
 
}
.episode_img img{
    display: block;
    width: 100%;
}
.episode_box{
    padding-top: 8px;

}
.episode_box a:first-child{
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background: #191919;
    padding: 0 16px;
    border-radius: 6px;
    margin-bottom: 48px;
}
.episode_box h4{
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
color: #118DA8;
margin-bottom: 18px;
}
.episode_box h3{
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
    margin-bottom: 28px;
}
.episode_box p{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
}

/*TODO      Jacob_Paulaner          */

.Jacob_Paulaner{
    display: flex;
    margin-bottom: 201px;
}
.Jacob_Paulaner div:last-of-type{
    max-width: 650px;
    width: 100%;
    margin-left: 94px;
    border-radius: 14px;
    overflow: hidden;
}
.Jacob_Paulaner img{
    display: block;
    width: 100%;
    
}

.Meet_Your{
    display: flex;
    flex-direction: column ;
    justify-content: center;
}
.Meet_Your h4{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;

}
.Meet_Your h3{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 65px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.Meet_Your p{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 33px;

}



/*TODO      Subscribe for updates */

.Subscribe_Wrapper{
    background-color: #000;
    margin-bottom: 200px;
    padding: 60px 60px 75px 60px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;

}
.Subscribe_Wrapper h4{
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 27px;
    color: #118DA8;

}
.Subscribe_Wrapper h3{
    font-family: 'DM Sans';
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;

}
.Subscribe_Wrapper form{
    max-width: 522px;
    width: 100%;
}

.Subscribe_Wrapper form input{
    width: 100%;
    background: #191919;
    border-radius: 6px;
    display: inline-block;
    padding: 26px 19px;
    margin-bottom: 20px;
    border: 1px solid #191919;
    
}
.Subscribe_Wrapper form input:hover{
    border: 1px solid  #118DA8;
    

}
.Subscribe_Wrapper form input::placeholder{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
    
}



.Subscribe_Wrapper form button{
    background-color: #118DA8;
    padding: 10px 20px;
    border-radius: 4px;
    align-self: center;
    display: inline-block;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    border: 1px solid #090a0a;
}
.Subscribe_Wrapper form button:hover{
    background-color: #191919;
    border: 1px solid #118DA8;
    box-sizing: border-box;
}

/*TODO     Comment   */

.flex-comment{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    
}

.comment {
    background: #000;
    border-radius: 8px;
    max-width: 423px;
    width: 100%;
    padding: 50px;
}


.comment p{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    margin-bottom: 20px;

}
.comment figcaption{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}

.list_item li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 22px;
}

.list_item li:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f005";

    font-size: 20px;
    color: #FCFF51;
}

/*TODO                   footer */

.flex-footer{
    display: flex;
    justify-content: space-around;
margin-top: 200px;

}


.social a{
    display: inline-block;
    margin-bottom: 30px;
}
.social ul li{
    margin-right: 18px;
}
.social ul{
    display: flex;
    font-size: 24px;
}
.social ul li .fa-twitter:before{
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    content: "\f099";
}
.social ul li .fa-instagram:before{
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    content: "\f16d";
}
.social ul li .fa-facebook-f:before{
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    content: "\f39e";
}
.footer_Links{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    

}
.footer_Links li{
    margin-bottom: 10px;

}