*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    color: #FFFFFF;
}
body{
    background-color: #191919;
}
a{
    text-decoration: none;
    display: inline-block;

}
li{
    list-style-type: none;
}
h1{
    font-size: 70px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 3.2px;
    margin-bottom: 90px;
}
.container{
    max-width:1300px;
    margin: auto;

}

 /*TODO header*/

.container a img{
    display: block;
    width: 100%;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 0;
    


}
.d-flex ul{
    display: flex;

}
.d-flex ul li{
    margin-left: 46px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}
.d-flex ul li a{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}
.d-flex ul li a:hover{
    color: #118DA8;
}


/*TODO !section Take_your*/

.Take_your{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Take_your div{
    max-width: 650px;
    width: 100%;
}
.Take_your img{
    display: block;
    width: 100%;
    border-radius: 8px;
}
.inner {
    margin-left: 60px;


}
.inner span{
    font-weight: 700;
}
.inner_socials{
    width: 245px;
    display: flex;
    gap: 17px;
    margin-left: 22px;

}
.inner h6{
    margin-bottom: 16px;
    margin-left: 22px;
}
.icons{
    width: 32px;
    height: 32px;
    display: inline-block;

}
/*TODO ! section Latest_episodes*/
                     
.Latest_episodes{
    padding-top: 60px ;
    
}
.box_Latest_episodes{
     display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.Latest_episodes h3{
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 2.88px;
    
}
.button{
    background-color: #118DA8;
    padding: 15px 20px;
    border-radius: 4px;
    align-self: center;
    display: inline-block;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
}
.button:hover{
    background-color: #191919;
    border: 1px solid #118DA8;
}
.episode{
    background-color: #000;
    margin-bottom: 60px;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    

}
.episode_img{
    max-width: 389px;
    margin-right: 53px;
    flex-shrink: 0;
}
.episode_img img{
    display: block;
    width: 100%;
}
.episode_box{
    padding-top: 8px;

}
.episode_box a:first-child{
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background: #191919;
    padding: 0 16px;
    border-radius: 6px;
    margin-bottom: 48px;
}
.episode_box h4{
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
color: #118DA8;
margin-bottom: 18px;
}
.episode_box h3{
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
    margin-bottom: 28px;
}
.episode_box p{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
}

/*TODO !section Jacob_Paulaner  */